body {
    background-color: #fff;
}

.section1 {
    background: url("Travel More-assets/Image1.png") no-repeat;
    /*background-size: cover;*/
    height: 740px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title__first--section1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 48px;


}

.text__first--section1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    text-align: center;
    color: white;
    font-size: 22px;
    letter-spacing: 4px;

}

.form1__first--section1 {
    margin: 52px 560px 120px 560px;

}

.search__form1__first--section1 {
    width: 650px;
    height: 60px;

}

.scroll__first--section1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    text-transform: capitalize;
    color: white;
    font-size: 14px;

    text-align: center;
}

.svg__first--section1 {
    width: 30px;
    height: 15px;
    margin: auto;
    color: #e3e9ed;
    text-align: center;
}

.svg-2__first--section1 {
    width: 14px;
    height: 14px;
    display: block;
    margin: auto;
    color: white;
}
[placeholder] {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    margin-left: auto;
    padding-left: 150px;

}


.button__form1__first--section1 {
    background: url("Travel More-assets/Rectangle 1.png") no-repeat;
    width: 146px;
    height: 56px;
    position: absolute;
    right: 0;
    top: 2px;
    display: flex;
    border: none;
    margin: -1px 3px 1px auto;

}

.form1__first--section1 form {
    position: relative;
}

.section-inner {
    max-width: 1130px;
    padding: 0 10px;
    margin: auto;

}

.section2 {
    background: url("Travel More-assets/Rectangle 2.png") no-repeat;
    background-size: cover;
    margin: 0;
    height: 80px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.title__section2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    line-height: 26px;
    text-align: left;
    width: 49%;
    padding-top: 25px;
}

.row__section2 {
    font-family: 'Aleo', serif;
    font-weight: normal;
    color: white;
    font-size: 14px;
    line-height: 26px;
    width: 49%;
    padding-top: 25px;
    text-transform: uppercase;
}

.section3 {
    background: url("Travel More-assets/Rectangle4 2.png") no-repeat;
  /*  background-size: cover;*/
    margin: 0 auto;
}

.section3-inner {
    align-items: center;
    padding: 50px;
}
.poisk__1 {
    font-family: 'Aleo', serif;
    font-weight: normal;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
   margin-left: 20px;
}

.title__1__section3 {
    font-family: 'Aleo', serif;
    font-weight: normal;
    color: white;
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 68px;


}

.text__1__section3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 16px;
    line-height: 26px;
}

.button__section3-button {
    font-family: 'Aleo', serif;
    font-weight: normal;
    background: url("Travel More-assets/Rectangle 8.png") no-repeat;
    border: none;
    width: 225px;
    height: 61px;
    text-transform: uppercase;
    color: white;
    float: left;
    margin-top: 50px;
}
.svg__checked-svg {
    padding-left: 18px;
}
.block__1__section3 {
    background: url("Travel More-assets/Rectangle 9.png") no-repeat;
   /* background-size: cover;*/
    height: 336px;
}

.block__1__section3__inner {
    background: url(Icon-font-7-stroke-PIXEDEN-v-1.2.0/images/boobs.png) center no-repeat;
    padding-top: 135px;
}

.column__section3, .section3-images {
    width: 49%;
}

.section3-images {
    margin-top: 120px;
}
.block__down {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 22px;
   }

.text__down1 {
    font-family: 'Aleo', serif;
    font-weight: normal;
    color: white;
    font-size: 36px;
    padding-left: 10px;

}
.text__down2 {
    font-family: 'Aleo', serif;
    font-weight: normal;
    color: white;
    font-size: 36px;

}
#text__down3 {
    font-family: 'Aleo', serif;
    font-weight: normal;
    color: white;
    font-size: 36px;
padding-right: -15px;
}

.img__1 {
    padding-left: 10%;
}

.img__2 {
    text-align: right;
}
.svg__search-svg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.section-inner d-flex block__1__section3__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 50px;
}
.svg__search-svg {
    padding-left: 90px;
}
.svg__like {
    padding-right: 90px;
}

.section4 {
    background: url("Travel More-assets/Rectangle 414.png") no-repeat;
    /*background-size: cover;*/
    height: 1400px;
}

.block__1__section4, .block__2__section4 {
    background: rgba(00, 00, 00, 0.7);
    width: 39%;
    overflow: hidden;

}
.block__1__section4{
    height: 360px;
    margin-left: 331px;
    overflow: hidden;
    margin-bottom: 330px;
    float: left;
    margin-top: 230px;
}

.block__2__section4 {
    height: 360px;
    margin-right: 331px;

}

.title__block__1__section4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 20px;
    line-height: 26px;
    padding-top: 48px;
    padding-bottom: 30px;
}

.text__block__1__section4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.text1__block__1__section4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
    overflow: hidden;

}

.bottom__4__block__1__section4 {
    font-family: 'Aleo', serif;
    font-weight: normal;
    color: white;
    font-size: 16px;
    line-height: 26px;
}

.button__button__4 {
    font-family: 'Aleo', serif;
    font-weight: normal;
    background: url("Travel More-assets/Rectangle 8.png") no-repeat;
    border: none;
    width: 225px;
    height: 61px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    float: left;
    margin-left: 30px;
}


.block__2__section4 {
    display: inline-block;
    background: rgba(00, 00, 00, 0.7);
    float: right;
    width: 541px;
    height: 371px;

}

.title__block__1__section4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 20px;
    line-height: 26px;
    margin-left: 30px;
}

.text__block__1__section4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    padding-bottom: 35px;
    margin-left: 30px;
}

.text1__block__1__section4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 15px;
    line-height: 26px;
    margin-left: 30px;
   /* margin-top: 230px;*/


}

.title__block__2__section4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 20px;
    line-height: 26px;
}

.text__block__2__section4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    padding-bottom: 35px;
    overflow: hidden;

}

.text1__block__2__section4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 50px;

}

.bottom__4__block__2__section4 {
    font-family: 'Aleo', serif;
    font-weight: normal;
    color: white;
    font-size: 16px;
    line-height: 26px;
}


.section5 {
    background: url("Travel More-assets/Rectangle 4142.png") no-repeat;
    /*background-size: cover;*/
    margin: 0;
    height: 730px;
}
.one {
    margin-left: 0;
}

.title__section5 {
    font-family: 'Aleo', serif;
    font-weight: normal;
    color: white;
    font-size: 36px;
    padding-top: 124px;
    text-align: center;
    padding-bottom: 97px;
}
.title__section5-2 {
    font-family: 'Aleo', serif;
    font-weight: normal;
    color: white;
    font-size: 36px;
    padding-bottom: 30px;
}
.block__container__section5 {
    width: 666px;
   /* height: 284px;*/
    overflow: hidden;
    padding-top: 57px;
    padding-bottom: -10px;
}

.container__section5 {
    display: flex;
    background: #333333;
}

.section5__container__section5 {
    width: 44%;
}

.block__container__section5 {

}

.svg__container__text__section5 {
    display: flex;
    flex-wrap: wrap;
}

.one {
    width: 20px;
    height: 17px;
    transform: rotate(180deg);
}

.coma__text__section5--section5 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 14px;
    line-height: 26px;

}

.section6 {
    background: url("Travel More-assets/Rectangle 9.png") no-repeat;
    background-size: cover;
    height: 267px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.class__section6 {
    margin-bottom: 25px;
}

.title__section6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;

}

.text__section6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

}

.ul_section6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;

}